<div class="section-a">
  <app-header></app-header>
</div>

<div class="section-b">
  <div class="text-center m-5 p-5">
    <h2>Supporting Developers with Real-World Experience</h2>
    <p>At Apptolast, our mission is to provide less experienced developers with the opportunity to work on real-world projects,
      helping them gain valuable skills and experience at no cost to them.</p>
  </div>
</div>

<div class="section-a">
  <div class="text-center m-5 p-5">
  <h2>Our Projects</h2>
  <p>Check out our projects on GitHub if you want to collaborate or are simply curious.
    (emoticono cara sonriente o por teclado, hay que pensarlo) </p>
    <button type="button" class="btn btn-outline-primary mt-5">Primary</button>
  </div>
</div>

<div class="section-b">
  <div class="text-center m-5 p-5">
  <h2>Join our Community</h2>
  <p>Connect with other developers and get involved in our projects.</p>
  <button type="button" class="btn btn-outline-primary mt-5">Primary</button>
  </div>
</div>

<div class="section-a">
  <div class="text-center m-5 p-5">
  <h2>Delete Account</h2>
  <p>If you have decided to delete your account, please enter your information below.</p>
    <form class="contact-form m-5">
      <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" placeholder="Enter your full name" required>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" placeholder="Enter your email" required>
      </div>
      <div class="mb-3">
        <label for="subject" class="form-label">Subject</label>
        <input type="text" class="form-control" id="subject" placeholder="Subject" required>
      </div>
      <div class="mb-3">
        <label for="message" class="form-label">Message</label>
        <textarea class="form-control" id="message" rows="5" placeholder="Your message" required></textarea>
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-danger mt-5">Send Message</button>
      </div>
    </form>

  </div>
</div>
